# Ambiente virtual Python
venv/

# Artefatos gerados pelo dbt
funil_dbt/target/
funil_dbt/dbt_packages/
funil_dbt/logs/
funil_dbt/profiles.yml

# Banco de dados DuckDB (recriável via script)

# Airflow (quando chegarmos lá)
airflow/logs/
airflow/.env

# Sistema
.DS_Store
__pycache__/
*.pyc
funil_dbt/dev.duckdb
funil_dbt/prod.duckdb
logs/
airflow/airflow.cfg
airflow/airflow.db*
airflow/simple_auth_manager_passwords.json.generated
airflow/logs/
airflow/dag_processor_manager/
